//***** Features SASS PARTIAL *****

        //***** PLACEHOLDERS

// Service Call and Meter Counter
%featuresServiceMeterPlaceholder{
  height: 325px;
  width: 445px;
  background-color: #E5EFF7;
  box-shadow: 2px 3px rgba(105, 105, 105, .50);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1{
    font-size: 1.85em;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 1%;
    a{
      text-decoration: none;
      //unvisited links
      &:link {
        color: #030303;
      }
      //visited links
      &:visited {
          color: #030303;
      }
      //hovering transitions colors
      &:hover{
          color: #656B6F;
          transition: .75s;
      }
    }
  }
  h2{
    font-size: .95em;
    font-weight: 400;
  }
}
        //***** IDs

// Features
#features{
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  // features Wrapper
  #featuresContent{
    height: 100%;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    // features Content Wrapper
    .featuresContentWrapper{
      height: 100%;
      width: 800px;
      background-color: #FFF;
      box-sizing: border-box;
      display: flex;
      justify-content: space-around;
      align-items:center;
      flex-direction: column;
      //features Content
      .featuresServiceMeter{
        @extend %featuresServiceMeterPlaceholder;
        div{
          height: 200px;
          width: 200px;
          margin-bottom: 4%;
        }
      }
      .featuresDocProduct{
        @extend %featuresServiceMeterPlaceholder;
        div{
          height: 200px;
          width: 200px;
        }
      }
    }//featuresContentWrapper
  }//featuresContent
}//features

// Sevice call icon
#serviceIcon{
  background: url('imgs/RmService.png') no-repeat;
  background-size: contain;
}
