//***** Features SASS PARTIAL *****

        //***** PLACEHOLDERS

// Features Palaceholder
%featuresPlaceholder{
  height: 400px;
  width: 445px;
  box-shadow: 3px 4px rgba(105, 105, 105, .40);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1{
    font-size: 2.5em;
    font-weight: 700;
    text-transform: capitalize;
    a{
      text-decoration: none;
    }
  }
  h2{
    font-size: 1.5em;
    font-weight: 400;
  }
}
        //***** IDs

// Features
#features{
  height: 900px;
  width: 100%;
  margin-bottom: 4%;
  border-top: 1px solid #000;
  display: flex;
  justify-content:center;
  align-items: center;
  // features Wrapper
  #featuresContent{
    height: 100%;
    width: 1050px;
    @media (max-width: 980px){
      width: 950px;
    }
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    // features Content Wrapper
    .featuresContentWrapper{
      height: 100%;
      width: 800px;
      @media (max-width: 980px){
        width: 700px;
      }
      display: flex;
      justify-content:space-around;
      align-items:center;
      flex-direction: column;

      //features Service Call and Meter Reading
      .featuresServiceMeter{
        @extend %featuresPlaceholder;
        background-color: #01438A;
        //Icon
        div{
          height: 200px;
          width: 200px;
          @media (max-width: 980px){
            height: 150px;
            width: 150px;
          }
          margin-bottom: 4%;
        }
        //Link
        h1{
          margin-bottom: 1%;
          transition: .5s;
          a{
            //unvisited links
            &:link {
              color: #EDEDED;
            }
            //visited links
            &:visited {
                color: #EDEDED;
            }
            //hovering transitions colors
            &:hover{
                color: #C8D1E8;
                transition: .5s;
            }
          }
        }//h1
        h2{
          color: #EDEDED;
        }
      }//featuresServiceMeter
      // Features Document Solutions and Product Catatlog
      .featuresDocProduct{
        @extend %featuresPlaceholder;
        background-color: #000;
        div{
          margin-top: -7%;
          height: 300px;
          width: 300px;
          @media (max-width: 980px){
            height: 150px;
            width: 150px;
          }
        }
        //Link
        h1{
          margin-top: -8%;
          margin-bottom: 2%;
          transition: .5s;
          a{
            //unvisited links
            &:link {
              color: #FFF;
            }
            //visited links
            &:visited {
                color: #FFF;
            }
            //hovering transitions colors
            &:hover{
                color: #C8D1E8;
                transition: .5s;
            }
          }
        }//h1
        h2{
          color: #FFF;
        }
      }//featuresDocProduct
    }//featuresContentWrapper
  }//featuresContent
}//features

//Sevice Call icon
#serviceIcon{
  background: url('imgs/ServiceCallWhite.png') no-repeat;
  background-size: contain;
}

#meterIcon{
  background: url('imgs/counterReadwhite.png') no-repeat;
  background-size: contain;
}

//Document Solutions Icon
#documentIcon{
  background: url('imgs/RmDocIcon.png') no-repeat;
  background-size: contain;
}

//Document Solutions Icon
#productIcon{
  background: url('imgs/RmManuel.png') no-repeat;
  background-size: contain;
}
