//***** Footer SASS PARTIAL *****

      //***** IDs

//Footer Wrapper
#footer{
  height: 100px;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: space-around;
  //Foofter Features Wrapper
  #footerWrapper{
    height: 100%;
    width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    //Footer Feature Content Wrapper
    .footerContent{
      height: 100%;
      width: 800px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      span{
        transition: .5s;
      }
      h1{
        font-size: 2em;
        a{
          //unvisited links
          &:link {
            color: #FFF;
          }
          //visited links
          &:visited {
              color: #FFF;
          }
          //hovering transitions colors
          &:hover{
              color: #656B6F;
              transition: .5s;
          }
        }//a
      }//span
    }//footerContent
  }//footerWrapper
}//footer
