//***** HERO SASS PARTIAL *****


//******* IDs

//Hero
#hero{
  height: 600px;
  width: 100%;
  background: url('imgs/hero-1.jpg') no-repeat;
  background-size: cover;
  display:flex;
  justify-content: center;
  align-items: center;
  //hero Content Wrapper
  #hero1ContentWrapper{
    height: 600px;
    width: 1700px;
    display: flex;
    justify-content: center;
    align-items: center;

    //Learn more button
    #button{
      height: 43px;
      width: 136px;
      border-radius: 15px;
      margin-top: 23%;
      margin-left: 28%;
      background-color: rgba(255, 255, 255, .85);
      box-shadow: 2px 3px rgba(105, 105, 105, .50);
      font-size: 1.4em;
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        text-decoration: none;
        //unvisited links
        &:link {
          color: #596994;
        }
        //visited links
        &:visited {
          color: #596994;
        }
        transition: .5s;
        //hover slightly changes the button font color
        &:hover{
          color: #02091D;
          transition: .5s;
        }
      }//a
    }//button
  }//heroContentWrapper
}//hero
