//***** TYPE STYLESHEETS

//***** ELEMENTS
a{
  text-decoration: none;
  //unvisited links
    &:link {
      color: rgba(255, 255, 255, .85);
    }
  //visited links
    &:visited {
        color: rgba(255, 255, 255, .85);
    }
    &:hover{
      color: #C6C1E4;
      transition: .75s;
    }
}
